<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
  <style>
    html, body {
      height: 100%;
      margin: 0;
      overflow: hidden;
    }
    body {
      display: flex;
      flex-direction: column;
    }
    nav {
      flex-shrink: 0;
    }
    .iframe-container {
      flex-grow: 1;
      display: flex;
    }
    iframe {
      flex-grow: 1;
      border: none;
    }
  </style>
</head>
<body>  
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #53565a;">
    <a class="navbar-brand" href="/pun/sys/dashboard/">UVA Open OnDemand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="iframe-container">
    <iframe src="https://adameubanks.github.io/UVASlurmScriptGenerator/"></iframe>
  </div>
</body>
</html>